@charset "UTF-8";

.board{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 30px;
}

table {
    width: 1000px;
   /*  border-top: 1px solid #444444; */
    border-collapse: collapse;
  }

th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  } 
.date{
	width: 200px;
}
.b_title{
	width: 500px;
}
.b_no{
	width: 100px;
	text-align: center; 
}
.b_writer{
	width: 150px;
}
.b_write_btn{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
